// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

//*****colors*****:
$purple: #5533ff; // Thats a sample how you could change a BootStrap variable.
$primary: $purple; // Once we've changed the value, we'll also make it the primary brand color.
$brand-brown: #998352; // Once we've changed the value, we'll also make it the primary brand color.
$brand-light-brown: rgba(211, 133, 76, 1);
$auto_brand-light-brown: lighten($brand-brown, 70%);
$brand-white: #fff;
$brand-blue: #2A7DE1;
$brand-black: #212721;
$navigation__background-color: #FDFDFC;
$navigation__font-color: rgba(33, 39, 33, 1);
$navbar-dark-brand-color: $navigation__font-color ;
$navbar-dark-color: $navigation__font-color;
$first-section__background-color: #212721;
$first-section__titles-color: rgba(153, 131, 82, 1);
$cta__background-color: #D3854C;
$light-brown-border: #CCC1A8;
$brand-gray: #E8E9E5;

$brand-gray-gradient: linear-gradient(180deg, #CFD7F1 0%, rgba(207, 215, 241, 0) 151.2%);


//*****mixins*****:

@mixin no_padding__all() {
    padding: 0;
}

@mixin no_padding__sides() {
    padding-left: 0;
    padding-right: 0;
}

@mixin no_padding__top-bottom() {
    padding-top: 0;
    padding-bottom: 0;
}

@mixin flex_horizontal_center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin all_sections_padding_media_queries() {
    @media (max-width: 1439.98px) {
        height: auto;
    }

    @media (max-width: 991.98px) {
        padding: 3rem;
    }

    @media (max-width: 767.98px) {
        padding: 1.5rem;
    }
}

@mixin all_sections_padding() {
    padding-left: 106px;
    padding-right: 106px;
    padding-top: 122px;
    padding-bottom: 122px;

}





//*****layouts*****:
$container-max-widths: (
    sm: 100%,
    md: 100%,
    lg: 100%,
    xl: 100%,
    xxl: 1440px // default value: 1320px
);


//*****custom Fonts*****:
$font-path: "../fonts";
$font-family-sans-serif: GTAmerica, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-serif: RecifeText;